@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

a {
    text-decoration: none;
    color: white;
    border-radius: 2px;
    padding: 10px;
}

.green a {
    background-color: green;
    
}

.orange a {
    background-color: orange;
    
}

p {
    margin: 50px;
}