html {
    font-family: Helvetica, sans-serif;
}

body {
    margin: 50px 70px;
}

header {
    border-bottom: 3px solid black;
}

.head-title {
    display: inline-block;
    font-size: 40px;
    margin-right: 100px;
    margin-bottom: 25px;
}

ul {
    display: inline;
}

li {
    display: inline-block;
    padding-right: 20px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: green;
}

main h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
}