@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);

section {
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 50px;
    color: rgb(45, 44, 44);
}