html {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

body {
    max-width: 1490px;
    margin: 0 auto;
}

.page-wraper {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 200px;
    background-color:#eeeeee;
}


h1 {
    border-bottom: 2px solid black;
    padding-bottom: 25px;
    text-transform: uppercase;
    margin-bottom: 0px;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 40px;
}

header h2 {
    margin-top: 20px;
}

.header-img {
    float: right;
    width: 100%;
    background-color: white;
    padding: 7px;
    border: 3px solid black;
    max-width: 186px;
    min-height: 265px;
    margin-left: 40px;
}

.header-text {
    display: block;
}



.right {
    max-width: 490px;
    width: 45%;
    float: right;
    margin-left: 23px;
    min-height: 210px;
    border-left: 4px solid rgb(173, 173, 173);
    padding-left: 29px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(66, 66, 66);
}

#text {
    padding-bottom: 20px;
    margin-top: 0;
}

#author {
    text-align: right;
}

.down-img {
    float: left;
    background-color: white;
    padding: 7px;
    border: 3px solid black;
    margin-right: 20px;
    margin-bottom: 20px;
}