@import url('https://fonts.googleapis.com/css2?family=Lato&family=M+PLUS+Rounded+1c&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@700&family=Lato&family=M+PLUS+Rounded+1c&display=swap');

body{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1,h2{
    font-family: 'Cormorant Upright', serif;
    line-height: 1.2;
    font-weight: bold;
}

.down{
    margin-top: 60px;
}